---
---

@import "{{ site.theme }}";

/* Put sidebar below */
aside#sidebar {
	min-height: 0;
	padding: 20px 0;
	margin-top: 20px;
	background-image: none;
	border-top: solid 1px #ddd;
}

#main-content, aside#sidebar {
	float: none;
	width: 100% !important;
}

/* Ajust code colors */
.highlight {
	background-color: #333333;
}

pre {
	border: 2px solid #777777;
}

pre code {
	background: #333333;
	color: #cccccc;
}

/* Ajust header */
header {
	padding-top: 25px;
	padding-bottom: 15px;
}

header h1 {
	width: 100%;
	font-size: 64px;
}

header h2 {
	width: 100%;
	font-size: 32px;
}
